/* Text Styling */
.text {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

/* Dimensions */
.no-spaces {
    margin: 0;
    padding: 0;
}
.fill {
    width: 100%;
    height: 100%;
}

/* Flex Containers */
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    align-items: center;
}

/* Navigation Bar */
.nav {
    height: 3em;
    justify-content: flex-end;
    align-items: center;
}
.nav-advanced {
    height: 3em;
    justify-content: space-between;
    align-items: center;
}
.nav-box {
    height: 100%;
    margin: 0 1em;
}
.nav-link {
    display: block;
    margin: 1em 0;
}

/* Title */
.title {
    justify-content: center;
    height: 3em;
    font-size: 3em;
}
.nowrap {
    white-space: nowrap;
}
.title-advanced {
    text-align: left;
    font-weight: normal;
    margin-left: 1em;
    color: rgb(212, 0, 0);
}

/* Search */
.search-div {
    width: 100%;
    height: 8em;
}
.advanced {
    width: 100%;
    height: 90%;
}
.advanced-row {
    margin: 0.5em 0;
}
.search {
    justify-content:space-around;
}
.search-bar {
    height: 2.5em;
    width: 60%;
    border: 1px black solid;
    outline: none;
    border-radius: 2.5em;
}
.search-button {
    height: 2.5em;
}
.title-label {
    text-align: left;
    margin-left: 2em;
}
.label {
    font-size: 14px;
    text-align: left;
    width: 12em;
    margin-left: 2em;
}
.advanced-search-bar {
    width: 50%;
    height: 1.5em;
    text-align: right;
}
.advanced-search-button {
    height: 2.5em;
    background-color: #2472df;
    color: white;
    border-radius: 5px;
    border: 1px solid #000000;
}
.advanced-search-button:hover {
    background-color: #4a88df;
    border: 1px solid #222222;
}

/* Bottom */
.bottom {
    flex-grow: 1;
    justify-content: space-between;
}

/* Link Styling */
.link {
    color: #1E1E24;
}
.anchor-button {
    padding: 0.5em;
    background-color: rgb(228, 228, 228);
    color: black;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 0.5em;
    text-decoration: none;
}

/* Break-Line */
.break {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}